body {
  font-family: monospace, "lucida console", "courier new";
  font-size: 13px;
  margin: 30px;
  width: 95%;
  overflow-y: scroll; /* force scrollbar always */
  background: url("../assets/wallpaper.png");
}

/* preload images https://stackoverflow.com/a/14390213/6243352 */
body::after{
  position: absolute; 
  width: 0; 
  height: 0; 
  overflow: hidden; 
  z-index: -1; 
  content: url("../assets/boxg.png") url("../assets/playerg.png");
}

a, a:hover, a:active, a:visited {
  color: #000;
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline !important;
}

#soko table {
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  border-collapse: collapse;
}

#soko td {
  text-align: center;
  border: 0px;
  width: 20px;
  height: 20px;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 0px;
}

#sokoscore {
  font-size: 13px;
}

#sokoscore table {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  table-layout: fixed;
  width: 300px;
}

#sokoscore td, th {
  border-collapse: collapse;
  padding-left: 3px;
  padding-right: 3px;
  width: 75px;
  word-wrap: break-word;
}

#sokoscore th {
  font-style: oblique;
}

#sokosequence {
  text-align: center;
  /*word-break: break-all;*/
  word-wrap: break-word;
}

.opts table {
  width: 350px;
  table-layout: fixed;
}

.opts td, th {
  border-collapse: collapse;
  padding: 3px 7px 3px 7px;
  width: 175px;
}

.opts th {
  font-style: oblique;
}

.ralign {
  text-align: right;
}

.header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 150px;
  text-shadow: 1px 1px #ccc;
}

.sokospace {
  background: rgba(255, 255, 255, 0.0);
}
.sokowall {
  background: url("../assets/wall.png");
}
.sokogoal {
  background: url("../assets/goal.png");
}
.sokobox {
  background: url("../assets/box.png");
}
.sokoboxg {
  background: url("../assets/boxg.png");
}
.sokoplayer {
  background: url("../assets/player.png");
}
.sokoplayerg {
  background: url("../assets/playerg.png");
}

.tooltip > .tooltip-inner {
  background-color: rgba(0,0,0,0.0); 
  color: #000; 
  font-family: monospace, "lucida console", "courier new";
  font-style: oblique;
}

/* these don't work--attempting to remove grey line in panel-body */
.panel, .panel-group, .collapse, .panel-collapse {
  border: none !important;
  outline: none !important;
}

.panel-group .panel-heading + .panel-collapse > .panel-body {
  border: none !important;
  outline: none !important;
}
